{% extends "layout.html" %}
{% block title %} Reports {% endblock %}
{% block main %}
<section class="reports">
    <div class="container">
        <div class="reports_label">
            <h4>Reports</h4><br/>
        </div>

        <div class="select_page">
        <form method="POST" action="" enctype="multipart/form-data">
            <div class='download_group'>
                
                <h5>Investigations Spreadsheet Report</h5>
                <div class='download_group_inputs'>
                    <!--modal button-->
                    <button type="button"  data-bs-toggle="modal" data-bs-target="#modalChooseColumns">
                        Select Columns for Report
                    </button>

                    <div>
                        <input type="submit" name="build_excel_report_inv" value="Build Excel Report"/>
                        <div class="timestamp_group">
                            Availible file time stamp: <input type="text" class="timestamp_input"  value="{{ time_stamp }}" readonly>
                        </div>
                    </div>
                    <div>
                        <a href="{{ url_for('inv_blueprint.investigation_categories', excel_file_name_inv=excel_file_name_inv) }}">Download</a> 
                    </div>
                    Steps to get file:
                    <ul>
                        <li>Select columns for excel spreadsheet</li>
                        <li>Build Excel file</li>
                        <li>Download</li>
                    </ul>
                </div>                
            </div>
            
            <div class='download_group'>
                <h5>Investigation Files</h5>
                <a href="{{ url_for('inv_blueprint.files_zip') }}">Download Investigation Files</a> <br/>
                <i>Zip file of all Investigation and Recall reports seperated into folders. 
                    Investigations folder names are 'Investigation_' + NHTSA_ACTION_NUMBER + Investigation ID.
                    Recalls folder names are 'Recall_' + Record ID.</i>
            </div>



            <!-- Modal -->
            <div class="modal fade" id="modalChooseColumns" tabindex="-1" aria-labelledby="modalChooseColumnsLable" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="modalChooseColumnsLable"> Select the columns to include in Excel Report</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">


                        <div class="modal_categories_checkboxes">
                            {% for i in column_names_inv %}
                            <div class="modal_checkbox_group">
                                {% if i in categories_dict.keys() %}
                                    <input type="checkbox"  name="{{ i }}" id="{{ 'checkbox_' + i }}" value="Yes" checked/>
                                    <label for="{{ 'checkbox_' + i  }}">{{ i }}</label>
                                {% else %}
                                <input type="checkbox"  name="{{ i }}" id="{{ 'checkbox_' + i }}" value="Yes" />
                                <label for="{{ 'checkbox_' + i  }}">{{ i }}</label>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary">Save Categories</button>-->
                    </div>
                </div>
                </div>
            </div>


        </form>
        </div>
    </div>
</section>

<!-- for modals-->
<script src="../static/js/bootstrap.min.js"></script>
{% endblock %}